.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') 50%/cover no-repeat;
    padding-top: 205px;
    &__title {
        width: 500px;
        margin-top: 10px;
    }
    &__subtitle {
        padding-left: 10px;
        position: relative;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        width: 235px;
    }
    &__link {
        color: #000;     
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}